@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.dark {
  color-scheme: dark;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
